<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Collaborators')"></head>
<body>
<header th:replace="layout :: header"></header>
<nav th:replace="layout :: nav('collaborators')"></nav>
        <section>
            <div class="container wrapper">
                <div class="non-form-list">
                    <h2>Manage Collaborators</h2>
                    <ul class="checkbox-list">
                        <li th:each="collaborator : ${collaborators}">
                            <div th:replace="layout :: (${layoutAction}=='edit' and ${collaborator.id}==${collaboratorId}) ? 'editCollaboratorName' : 'listCollaboratorName'"></div>
                        </li>
                    </ul>
                </div>
                <div class="actions">
                    <a th:href="@{/collaborators/add}" class="button">Add Collaborator</a>
                </div>
            </div>
        </section>
    </body>
</html>